// 1. select the element that will hold the notes
// 2. Create the HTML we want to render
// 3. insertAdjacentHTML @notes(HTML that we created) afterbegin of the element
// 4. Handle in case there are no notes

<% if @notes.present? %>
  notes = document.querySelector(".notes");
  notes.innerHTML = "";
  notesIndex = "<% @notes.each do |note| %>\n <p><b><%= note.title%></b></p><p><%= note.content %></p><% end %>";
  notes.insertAdjacentHTML('afterbegin', notesIndex);
<% end %>


// THE very manual equivalent of rails ajax

// button.addEventListener('click', () => {
//   fetch(indexcontrolaction)
//     .then()
// })
