<div class="forms-container">
  <div class="form-header">
    <h1>Add a new note</h1>
    <%= link_to "Back", personal_dashboard_path, class: "btn btn-outline-primary btn-sm rounded" %>
  </div>
  <%= render 'form' %>
</div>
