// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #789263;
$gray: #c7c7c7;
$light-gray: #F4F4F4;

$t-yellow: #fce373;
$t-white: #fffcff;
$t-pink: #f7dfcd;
$t-blue: #6d8092;
$t-gray: #282f36;
$t-green: #789263;


