.col11 {
  padding: 3% 7% 3% 7%;
  margin-bottom: 100px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col12 {
  background-size: cover;
  background-position: center;
  width: 50vw;
  background-image: url(https://images.unsplash.com/photo-1529693662653-9d480530a697?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60);
}

.lesson-container {
  position: relative;
  display:flex;
  background-color: white;
  min-height: calc(100vh - 65px);
  padding-top: 44px;
}
