.col-rich4 {
  padding: 3% 7% 3% 7%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-rich3 {
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1507120410856-1f35574c3b45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60);
}

.input-container {
  display:flex;
  background-color: white;
}
