.second-card-studio {
  margin-top: 0px;
  margin-bottom: 48px;
  background-color: white;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.05), 0px 12px 12px rgba(0, 0, 0, 0.05);
  padding: 16px;
  height: 480px;
  overflow: scroll;
}

.teacher-cards {
  justify-content: space-around;
  margin-top: 16px;
}

.teacher-card {
  display:flex;
  justify-content: space-between;
  height: 120px;
}

.avatar-large-studio {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    object-fit: cover;
  }

.teacher-bio {
 height: 123px;
 overflow: scroll;
width: 400px;
}

.teacher-name {
  margin: 8px;
  p {
    text-align: center;
    padding-top: 8px;
  }
}

.event-cards {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  overflow-y: scroll;
  margin-top: 24px;
}

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(235,235,235);
  margin: 0px 8px;
  padding: 16px;
}

.event-title {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  }

.event-date {
  padding: 4px;
  }

.event-content {
  color: $t-gray;
  overflow: hidden;
  padding: 4px;
  text-align: center;
}



