<div class="container">

  <h2>Show events index</h2>
<br>
------------------------------------------
<br>
  <p>All events</p>

  <% @events.each do |e| %>
<br> <p><b>Title:</b>       <%= link_to e.title, studio_event_path(e.studio, e.id) %></p>
<br> <p><b>Date:</b>        <%= e.date %></p>
<br> <p><b>Description:</b> <%= e.content %></p>
<br>------------------------------------------
<br>
  <% end %>
  <%= link_to "Back to StudioWorld", studio_path(@studio), class: "btn btn-outline-primary btn-sm" %>
</div>
