<div class="container">
  <h2>Show events index</h2>

  <p>All events</p>
  <%#= Event.where(params[:studio_id]).each do |e| %>
  <%= @events.each do |e| %>
  <%= e.title %>
  <%= e.date %>
  <%= e.content %>
  <p>link to the show of event</p>
  <% end %>

</div>
