<div class="event-container">
  <div class="col13">
  </div>
  <div class="col14">
  <h2 class="d-flex justify-content-center mb-3">Add a new event</h2>
  <%= render "form_for_event" %>
  <%= link_to "Back", studio_path(@studio) %>
</div>
</div>
