
<div class="background">
  <div class="container entrance">
    <h1 class="text-center"><%= image_tag "https://image.flaticon.com/icons/png/512/129/129728.png", style: "height: 6rem" %></h1>
    <h1 class="text-center">talalla</h1>
    <h5 class="text-center">- connect beyond the mat - </h5>
  </div>
</div>
