<div class="container">
  <h1 class="text-center">talalla</h1>
    <div class="text-center">
      <%= image_tag "https://image.flaticon.com/icons/png/512/129/129728.png"%>
    </div>
  <h5 class="text-center">- connect beyond the mat - </h5>
  </div>
</div>
