<h1>Personal dashboard</h1>
  <div class="container">

    <div class="card-personal-details">
  <img src="stylesheet/avatar.png" alt="avatar" class="rounded-circle">
      <% @firstname %>
      <% @lastname %>
      <% @address %>
      <% @email %>
<button type="button" class="btn">Edit</button>
<button type="button" class="btn">Delete</button>
    </div>

    <div class="card-user-plan"></div>

  <div class="card-calendar"></div>

  <div class="card-notes"></div>
</div>

