<div class="container">
  <h1>Tick to make teacher</h1>
  <% @students.each do|student|%>
    <%= student.first_name %>
    <%= student.last_name %>
  <%= link_to "Edit", edit_user_path(student) %>
  </p>
  <% end %>
  <%= link_to "Back", admin_path %>
</div>
