.submit-button {
  padding: 10px;
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 3px 4px 25px -4px rgb(104, 104, 153);
  background-color: #6d8092;
  color: #fffcff;
  text-transform: uppercase;
  font-size: 17px;
  align-self: center;
  border: 1px solid #6d8092;
}

.delete-button {
  padding: 10px;
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 3px 4px 25px -4px rgb(104, 104, 153);
  background-color: #282f36;
  color: #fffcff;
  text-transform: uppercase;
  font-size: 17px;
  border: 1px solid #282f36;
}

