.event-show-body {
  border: 1px solid #ebebeb;
  padding: 24px 32px;
  border-radius: 4px;
  margin: 16px 0 40px 0;
  .event-show-body-right {
    width: 60%;
    margin-left: 32px;
  }
}

.admin-buttons {
  text-align: right;
  margin: 0 8px 16px 8px;
}
