.lesson-show-header {
  margin: 40px 32px;
}


.lesson-show-body {
  border: 1px solid #ebebeb;
  padding: 24px 32px;
  border-radius: 4px;
  margin: 16px 0;
  .teacher-intro {
    margin-left: 48px;
  }
}
