.navbar {
  color: $green;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #7892635c;
  border-bottom: solid 2px $green;
  padding-bottom: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 140px;
}

.navbar-icon-text {
  text-align: center;
  transition: transform .5s ease;
  &:hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .navbar-icon {
    height: 40px;
  }
}
