.teacher-container {
  background-color: gray;
  margin: 4px;
  height: 60vh;
}

.teachers {
  background-color: gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // align-items: justify;
}
.teachers-title {
  width: 100%;
}
.teacher-cards {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

.teacher-avatar {
  background-color: green;
}

.teacher-name {
  background-color: yellow;
}

.teacher-bio {
  background-color: red;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: 0.04em;
}






