.event-container {
  background-color: gray;
  margin: 4px;
  justify-content: center;
  height:40vh;
}

.events {
  background-color: lightgrey;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center
}

.event-card {
  background: rgba(255, 255, 255, 0.57);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.event-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 128px;
  }

.event-title {
  width: 80%;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 12px;
  display: flex;
  justify-content: space-between;
  color: $t-gray;
  }

.event-date {
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0.04em;
  color: $t-gray;
  }

.event-content {
  width: 128px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: 0.04em;
  color: $t-gray;
}


