.lessons-container {
  height: 100vh;
  background-color: gray;
  margin: 4px;
}

.lessons-today {
  height: 50vh;
  overflow: scroll;
  background-attachment: scroll;
}

.lessons-tomorrow {
  height: 45vh;
  overflow: scroll;
  background-attachment: scroll;
}
