.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 34px;
  margin-bottom: 120px;
}

.right-pannel {
  display: flex;
  width: 50%;
  flex-direction: column;
  min-width: 500px;
}

.left-pannel {
  display: flex;
  width: 40%;
  flex-direction: column;
  min-width: 400px;
}

.first-card {
  background-color: white;
  display: flex;
  padding: 16px;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.05), 0px 12px 12px rgba(0, 0, 0, 0.05);
  height: 302px;

  .avatar-and-buttons {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .avatar-talalla img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.05), 0px 12px 12px rgba(0, 0, 0, 0.05);
    margin-bottom: 16px;
  }
  .description-talalla {
    padding-left: 8px;
  }
}

.second-card {
  margin-top: 48px;
  margin-bottom: 48px;
  background-color: white;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.05), 0px 12px 12px rgba(0, 0, 0, 0.05);
  padding: 16px;
}

.schedule {
  height: 462px;
  overflow-y: scroll
}

.lessons-cards {
  padding-top: 8px;
  h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  h2:before, h2:after {
      content: '';
      border-top: 1px solid;
      border-color: $t-gray; // or #DDDDDD; ?
      margin: 0 20px 0 0;
      flex: 1 0 20px;
  }
  h2:after {
      margin: 0 0 0 20px;
  }
}

.lesson-card {
  display: flex;
  align-items: center;
  margin: 8px 0px;
  background: white;
  padding: 8px;
  .avatar-large img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.lesson-card-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}



.third-card {
  background-color: white;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.05), 0px 12px 12px rgba(0, 0, 0, 0.05);
  padding: 16px;
  margin-bottom: 48px;
  .stats {
    text-align: center;
    min-width: 100px;
    .link-icon {
      // transition: all 0.4s ease-in-out; zoom for some reason not working?
      &:hover{
        text-decoration: none;
        // transform: scale(1.1);
        font-weight: bolder;
      }
    }
    h2 {
      margin: 16px 0 0 0;
    }
  }
  .more-button{
    margin: 0 190px;
    // margin: 0 auto;
  }

  .edit-details {
    min-width: 33%;
    text-align: center;
    margin: 4px;
    .fa-users {
      color: $green;
      &:hover {
        color: darker;
      }
    }
    .fa-users-one {
      color: $t-gray;
    }

    .link:hover{
      text-decoration: none;
    }
  }
}
