<div class="channel-container">
  <div class="col8">
  </div>
  <div class="col7">
  <h2 class="d-flex justify-content-center mb-3">Add a new dedicated channel</h2>
  <%= simple_form_for @category do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <div class="text-center mt-5 mb-3">
    <%= f.button :submit, class: "submit-button" %>
  </div>
  <% end %>
</div>
</div>
