.community-container {
  margin: 40px 80px 0 80px;
}


// left side with overview over all channels
.channels {
  margin-top: 16px;
  margin-bottom: 40px;
  padding: 0;
  .new-channel {
    margin: 4px auto;
  }
  .channel {
    margin-bottom: 8px;
    border-style: solid;
    border-color: $t-pink;
    transition: 0.25s;
    h2 {
      margin: 0;
    }
  }
  .nav-link {
    background-color: $t-pink;
    color: white;
    width: 96%;
    border-radius: 4px;
    // margin: 4px;
    // padding: 8px;
    // width: 200px;
    a {
      color: $t-gray !important;
      h2 {
        margin: 0 8px;
      }
    }
  }
  .nav-link.active {
    background-color: $t-pink;
    color: $t-gray;
    width: 100%;
    border-radius: 0px;
  }
}
// right side with all channel threads

.conversations {
  margin: 16px 0;
  border-style: solid;
  border-color: $t-pink;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 56px;
  position: relative;
  text-align: justify;
  .channel-info {
    background-color: $t-pink;
    padding: 16px;
  }
  .post{
    // padding: 16px;
    p {
      padding: 0 40px;
      margin: 0;
    }
    .post-info {
      padding: 16px 40px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      text-align: left;
      transition: 0.3s;
      .post-info-left p {
        text-align: left;
        margin: 0;
        padding: 0;
      }
      .post-info-right {
        text-align: right;
        margin: 0;
        padding: 0;
        p {
          padding: 0;
          margin: 0;
        }
      }
      &:hover h2 {
        text-decoration: underline;
      }
    }
    &:hover {
      cursor: pointer;
    }
    .more {
      text-align: right;
      &:hover {
        font-weight: bold;
      }
    }
  }

  .comment {
    // background-color: $t-pink;
    // border-style: solid;
    // border-color: $t-pink;
    margin: 16px 8px;
    padding-bottom: 4px;
    width: 800px;
    margin-left: auto;
    border-radius: 4px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;
    .comment-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    p {
      margin: 0 0 0 4px;
    }
    img {
      margin-right: 8px;
      margin-top: 4px;
    }
  }

  .all-comments {
    display: flex;
    align-items: flex-end;
  }
}

.new-comment {
  // background-color: $t-pink;
  margin: 16px 8px 8px 8px;
  padding: 16px;
  width: 800px;
  margin-left: auto;
  .comment_content {
    width: 85%;
  }
  textarea.form-control {
    height: 32px;
  }
  .form-group {
    margin: 0;
  }
}

.comment-details {
  margin-right: 3%;
  margin-left: 3%;
}

.all-comments-link {
  transition: 0.5s;
  &:hover {
    text-decoration: none;
    font-weight: bolder;
  }
}

.add-button {
  border-radius: 50%;
  border-color: $green;
  border-style: solid;
  padding: 10px;
  color: $green;
  transition: all 0.4s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
